{% extends 'admin_template/skydash.html' %}
{% block content %}
<br>
<div class="table-responsive">
    <div class="card">
<div class="card-header" style="">
    <h4><strong class="card-tile" style="text-align:center;color:black;">COURSE DETAILS</strong></h4>
</div>
    <div class="card-body">
<table class="table table-bordered table-secondary">
    <thead>
    <tr>
      <th scope="col">SI no</th>
      <th scope="col">Course</th>
      <th scope="col">Duration</th>
      <th scope="col">Fee</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr style="background-color:white">
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.Name}}</td>
      <td>{{i.Duration}}</td>
      <td>{{i.Fee}}</td>
       <td>{{i.Description}}</td>
      <td><a href="{% url 'admin_course_update' i.id %}" class="btn btn-success">update</a></td>
      <td><a href="{% url 'admin_course_delete' i.id %}" class="btn btn-danger">delete</a></td>


    </tr>
  {% endfor %}

  </tbody>
</table>
  </div>
{% endblock %}